.form-control:focus{
    box-shadow: 0 0 0 0.1rem rgba(72,96,28,.25);
    border-color: rgb(72,96,28);
}

.btn{
    color: white;
    background-color: #48601C !important;
    border-color: #48601C !important;
    border-radius: 999px;
    width: 95%;
}

.star{
    color: red;
}

.user-box{
    background-color: #FFFFFF;
    width: 45%;
    border-radius: 5px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 50px 10px 50px;
}

.user-box form > div{
    margin-left: 10px;
    margin-right: 10px;
}

.custom-file-label{
    overflow: hidden;
}

.small{
    font-size: small;
}

.radio-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #f8f8f8;
    padding: 6px 48px;
    border-radius: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
}

.radio-group input[type="radio"] {
    accent-color: #48601C;
}

.radio-group label:hover {
    background-color: #F7F3ED;
    border-color: #48601C;
}

.radio-group input:checked + label {
    background-color: #F7F3ED;
    border-color: #48601C;
}

/* --------------------- */
/* SCROLLBAR ESTILIZADO  */
/* --------------------- */

::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* Cor da "bolinha" do scroll */
    transition: background 0.3s ease; /* Transição suave para mudar a cor */
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5); /* Cor quando o scroll está sendo usado */
}