{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'styles/hub.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'scripts/hub.js' %}"></script>
    </head> 
    <body>

        <div class="popup">

            <div class="large-popup popup-create-post" style="display: none;">
                <div>
                    <div class="form-area">
                        <div class="popup-header">
                            <h2 class="popup-title">Novo Vídeo</h2>
                            <button onclick="closeCreatePostPopup()" class="popup-close-btn">✕</button>
                        </div>
                        <form action="{% url 'App_BRASFI:createvideo' %}" method="POST" class="newpost" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <input type="text" name="title" placeholder="Título do vídeo" class="form-control modern-input" required>
                            
                            <textarea name="description" rows="4" placeholder="Descrição do vídeo..." class="form-control modern-input" id="video-description" required></textarea>

                            <div id="video-preview-div" style="margin-top: 10px; display: none;">
                                <video id="video-preview" width="100%" height="auto" controls></video>
                            </div>

                            <input name="video_file" accept="video/mp4,video/mov,video/webm,video/ogg" type="file" style="display: none;" id="video-upload" required>
                            <label for="video-upload" class="modern-upload-btn">
                                <span style="font-size: 0.95em;">Selecionar vídeo</span>
                            </label>

                            <hr>
                            <div class="form-action-btns">
                                <input type="submit" class="btn btn-success float-right submit-btn" value="Enviar" disabled>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="popup-create-quiz large-popup" style="display: none;">
                <div>
                    <div class="form-area">
                        <div class="popup-header">
                            <h2 class="popup-title">Novo Quiz</h2>
                            <button onclick="closeCreatePostPopup()" class="popup-close-btn">✕</button>
                        </div>
            
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" class="csrf-token">
            
                        <input id="quizTitle" class="form-control modern-input" placeholder="Título do Quiz">
                        <textarea id="quizDescription" class="form-control modern-input" rows="3" placeholder="Descrição do Quiz"></textarea>
            
                        <div id="questions" class="mt-3"></div>
            
                        <button class="modern-upload-btn" onclick="addQuestion()">+ Adicionar Pergunta</button>
            
                        <hr>
                        <div class="form-action-btns">
                            <button class="btn btn-success submit-quiz-btn" onclick="submitQuiz()" disabled>Criar Quiz</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="body" data-page="{{page}}">
            
            <div class="sidenav">
                <a href="{% url 'App_BRASFI:landing' %}" class="navbar-brand">
                    <img src="{% static 'img/BRASFI_nobg.png' %}" height="50px">
                </a>
            
                <ul class="sidenav-menu">
                    <li class="nav-item {% if request.path == '/projecthub' %}active{% endif %}">
                        <a href="{% url 'App_BRASFI:projecthub' %}" class="nav-link">
                            <div>Projetos</div>
                        </a>
                    </li>
                    <li class="nav-item {% if request.path == '/networkhub' %}active{% endif %}">
                        <a href="{% url 'App_BRASFI:networkhub' %}" class="nav-link">
                            <div>Network</div>
                        </a>
                    </li>
                    <li class="nav-item {% if request.path == '/videos' %}active{% endif %}">
                        <a href="{% url 'App_BRASFI:videos' %}" class="nav-link">
                            <div>Vídeos</div>
                        </a>
                    </li>
                    <li class="nav-item {% if request.path == '/quizzes' %}active{% endif %}">
                        <a href="{% url 'App_BRASFI:quizzes' %}" class="nav-link">
                            <div>Quizzes</div>
                        </a>
                    </li>
                    {% if user.userType == "mentor" %}
                    <li class="nav-item {% if request.path == '/curadoria' %}active{% endif %}">
                        <a href="{% url 'App_BRASFI:curadoria' %}" class="nav-link">
                            <div>Curadoria</div>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'App_BRASFI:logout' %}" class="nav-link logout-link">
                            <div>Log Out</div>
                        </a>
                    </li>
                </ul>
            
                <div class="sidenav-user-wrapper">
                    <div class="user_account">
                        <div class="small-profilepic" style="background-image: url('/media/{{ user.profilePic }}')"></div>
                        <div class="user-info">
                            <div class="username">{{ user.username }}</div>
                            <div class="user-type grey">{{ user.userType }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-div">
                <div class="left-div">
                    <div class="posts-view">
                        <div class="main-div-content">
                            {% block body %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-div">
                <div class='right-div-content'>
                    {% block right %}
                    {% endblock %}
                </div>
            </div>

        </div>
    </body>
</html>