{% extends "layoutForm.html" %}

{% load static %}

{% block title %}
    Log in | BRASFI
{% endblock %}

{% block script %}
    <script type"text/javascript" src="{% static 'scripts/signin.js' %}"></script>
{% endblock %}

{% block body %}
    <a href="{% url 'App_BRASFI:landing' %}" style="position: absolute; top: 20px; left: 30px;">
        <img src="{% static 'img/BRASFI_nobg.png' %}" height="50em">
    </a>
    
    <div class="user-box" style="margin-top: 150px;">
        <div>
            <center>
                <h3>FAÇA LOGIN</h3>
                <p>Preencha com os dados cadastrados:</p>
            </center>
        </div>
    
        <form action="{% url 'App_BRASFI:login' %}" method="post" id="signin-form" style="width: 100%;margin-bottom: 5vh;">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control inp usrnm" type="text" name="username" placeholder="Nome" autocomplete="off" autofocus>
            </div>
            <div class="form-group">
                <input class="form-control inp pswd" type="password" name="password" placeholder="Senha" autocomplete="off">
                <span class="star"><small>{{message}}</small></span>
            </div>
            <center>
                <input class="btn btn-primary" type="submit" value="Entrar" style="margin-top: 10px; width: 95%;" disabled>
            </center>
        </form>
    
        <div>
            <center>
                Não tem uma conta?&nbsp;&nbsp;<a href="{% url 'App_BRASFI:register' %}">Registre aqui</a>
            </center>
        </div>
    </div>

{% endblock %}