{% extends "layout.html" %}
{% load static %}

{% block title %}
    Quizzes | BRASFI
{% endblock %}

{% block body %}
{% if user.userType == "mentor" %}
    <button id="popup-btn" class="btn new-post-btn" onclick="createquiz()">Criar Quiz</button>
{% endif %}
<div class="container mt-4">
    <ul class="list-group" id="quiz-list">
        {% for quiz in quizzes %}
            <li class="list-group-item d-flex justify-content-between align-items-center" data-id="{{ quiz.id }}">
                {{ quiz.title }}
                {% if user.userType == "mentor" %}
                <button class="btn btn-sm btn-outline-danger" onclick="deleteQuiz('{{ quiz.id }}')">✕</button>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}