{% extends "layoutForm.html" %}

{% load static %}

{% block title %}
    Registre-se | BRASFI
{% endblock %}

{% block script %}
    <script type"text/javascript" src="{% static 'scripts/signup.js' %}"></script>
{% endblock %}

{% block body %}
<a href="{% url 'App_BRASFI:landing' %}" style="position: absolute; top: 20px; left: 20px; color: #333; text-decoration: none;">
    <i class="fas fa-arrow-left"></i> Voltar
</a>

    <div class="user-box" style="margin-top: 6vh;">
        <div>
            <center>
                <img src="{% static 'img/BRASFI_nobg.png' %}" height="30em" style="margin-bottom: 2vh;">
                <h3>Registre-se na BRASFI</h2><br>
            </center>
        </div>
    
        <form action="{% url 'App_BRASFI:register' %}" method="post" id="signin-form" style="width: 100%;margin-bottom: 5vh;"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control inp usrname" type="text" name="username" placeholder="Username *" autocomplete="off">
                <span class="star small">{{message}}</span>
            </div>
            <div class="form-group">
                <input class="form-control inp email" type="email" name="email" placeholder="Email *" autocomplete="off">
                <span class="star small"></span>
            </div>
            <div class="form-group">
                <input class="form-control inp pswd" type="password" name="password" placeholder="Senha *" autocomplete="off">
                <span class="star small"></span>
            </div>
            <div class="form-group">
                <input class="form-control inp cpswd" type="password" name="confirmation" placeholder="Confirmar Senha *" autocomplete="off">
                <span class="star small"></span>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" name="profile" class="form-control custom-file-input" id="profile" accept="image/jpeg,image/png,image/webp,image/gif" data-focusable="true" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="profile"><span style="color: #6c757d;">Escolha foto de perfil<span></label>
                    <span class="star small"></span>
                </div>
            </div>
            <div class="form-group">
                <label style="margin-left: 10px;">Você é:</label>
                <div class="radio-group">
                    <label>
                        <input type="radio" name="tipo" value="mentor" required>
                        <span>Mentor</span>
                    </label>
                    <label>
                        <input type="radio" name="tipo" value="aprendiz" required>
                        <span>Aprendiz</span>
                    </label>
                </div>
            </div>


            <center>
                <input class="btn btn-primary" type="submit" value="Sign Up" style="margin-top: 10px; width: 95%;" disabled>
            </center>
        </form>
    
        <div>
            <center>
                Já possui uma conta?&nbsp;&nbsp;<a href="{% url 'App_BRASFI:login' %}">Entre aqui</a>
            </center>
        </div><br><br>
    </div>
{% endblock %}
